@using System.Security.Claims;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] A Team Final Project </title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <div class="container body-content">
    @if (this.User.Identity.IsAuthenticated)
            {
                <div>Hello, @this.User.Identity.Name</div>
                <form method="post" asp-controller="Account" asp-action="Logout">
                    <input type="submit" class="btn btn-danger btn-md" value="Logout" />
                    <br/>
                </form>
            }
    @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 3S Smith Swimming School </p>
        </footer>
        </div>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.4.1/bootstrap.min.js">

    </script>
</body>
</html>