@model Microsoft.AspNetCore.Identity.IdentityRole
<form class="form-inline" role="form" asp-controller="Role" asp-action="AddRole" method="post">
    <div class="form-group">
    <label asp-for="Name">Role Name:</label>
    <input asp-for="Name" />
        </div>
    <br />
    <button type="submit" class="btn btn-success">Add Role</button>
</form>
<p><a asp-controller="Admin" asp-action="Index">Return to Admin Page</a></p>