<h2>Admin Home Page</h2>
<p><a asp-controller="Role"  asp-action="AllRole">Show All Roles</a></p>
<p><a asp-controller="Role" asp-action="AddRole">Add A Role</a></p>
<p><a asp-controller="Account" asp-action="AllUser">Assign User To A Role</a></p>
<p><a asp-controller="Lesson" asp-action="AllLesson">Show All Lessons</a></p>
<p><a asp-controller="Lesson" asp-action="AddLesson">Add A Lesson</a></p>

